@charset "UTF-8";
@font-face {
	font-family: "fontawesome";
	src: url("../fonts/fontawesome-webfont.ttf") format("truetype");
	font-weight: normal;
}
@font-face {
	font-family: "BebasNeue";
	src: url("../fonts/BebasNeue\ Bold.ttf") format("truetype");
	src: url("../fonts/BebasNeue\ Bold.otf") format("opentype");
	font-weight: 700;
}
@font-face {
	font-family: "BebasNeue";
	src: url("../fonts/BebasNeue\ Regular.ttf") format("truetype");
	src: url("../fonts/BebasNeue\ Regular.otf") format("opentype");
	font-weight: 400;
}
@font-face {
	font-family: "BebasNeue";
	src: url("../fonts/BebasNeue\ Book.ttf") format("truetype");
	src: url("../fonts/BebasNeue\ Book.otf") format("opentype");
	font-weight: 300;
}
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
	src: url("../fonts/Montserrat-Regular.otf") format("opentype");
	font-weight: 400;
}
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
	src: url("../fonts/Montserrat-SemiBold.otf") format("opentype");
	font-weight: 600;
}
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
	src: url("../fonts/Montserrat-Medium.otf") format("opentype");
	font-weight: 500;
}
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-Light.ttf") format("truetype");
	src: url("../fonts/Montserrat-Light.otf") format("opentype");
	font-weight: 300;
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
	src: url("../fonts/Montserrat-Bold.otf") format("opentype");
	font-weight: 700;
}
@font-face {
	font-family: "MyriadPro";
	src: url("../fonts/MyriadProRegular.eot");
	src: url("../fonts/MyriadProRegular.eot?#iefix") format("embedded-opentype");
	src: url("../fonts/MyriadProRegular.ttf") format("truetype");
	src: url("../fonts/MyriadProRegular.woff") format("woff");
	font-weight: 400;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: Montserrat;
	font-weight: 400;
	color: #3d3d3e;
}
h1,
h2 {
	font-family: BebasNeue;
	font-weight: 700 !important;
	text-transform: uppercase;
}
a {
	color: #3d3d3e;
}
a:hover {
	color: #54c5cf;
	text-decoration: none;
}
a:focus {
	outline: none;
}
.btn {
	border-radius: 0;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 600;
	color: #3d3d3e;
	position: relative;
}
.btn:hover {
	color: #3d3d3e;
}
.btn.focus,
.btn:focus {
	box-shadow: none;
}
.btn_blue {
	color: #ffffff;
	background-color: #54c5cf;
}
.btn_blue a,
.btn_orange a,
.btn_orange2 a {
	color: #ffffff;
}
.btn_blue:hover {
	background-color: #17a2b8;
	color: white;
}
.btn_transp {
	background-color: transparent;
	border: 1px solid #3d3d3e;
}
.btn_transp:hover {
	background-color: #00000094;
	color: #ffffff;
}
.btn_orange {
	background-color: #dd6b1f;
	color: #ffffff;
}
.btn_orange2 {
	color: #ffffff;
	background-color: #ea6533;
}
.btn_orange:hover,
.btn_orange2:hover {
	background-color: #b95b1c;
	color: #ffffff;
}
.btn_blue a:hover,
.btn_transp a:hover,
.btn_orange a:hover,
.btn_orange2 a:hover {
	color: inherit;
}
input {
	border-radius: 0 !important;
	font-family: Montserrat !important;
	font-weight: 400 !important;
	color: #3d3d3e !important;
}
/* =================== BREAD CRUMBS ======================= */
.breadcrumb {
	background-color: transparent;
	font-weight: 300;
	font-size: 14px;
	margin-bottom: 0;
	margin-top: 40px;
	padding: 6px 16px;
}
.breadcrumb-item.active {
	color: #3d3d3e;
}
/* =================== MOBILE MENU ======================= */

.mobil_menu {
	position: relative;
	overflow-x: hidden;
}
.m_menu {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 80%;
	height: 100vh;
	background-color: #000000d6;
	transition: 0.5s;
	transform: translateX(-100%);
}
.mobile_nav {
	font-family: BebasNeue;
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	height: 100%;
}
.mobile_nav a {
	color: #ffffff;
	letter-spacing: 2px;
}
.mobile_nav a:hover {
	color: #54c5cf;
}
.mobile_nav_drop {
	display: block;
}
.mobile_nav_drop a {
	color: #dd6b1f;
	text-align: center;
}
.mobile_nav .active {
	text-decoration: underline;
}
.menu_active {
	transform: translateX(0%);
}
.menu_btn {
	width: 30px;
	height: 30px;
	background-color: #54c5cf;
	color: white;
	position: absolute;
	right: -47px;
	top: 18px;
	transition: 0.5s;
}
.menu_btn_active {
	right: 19px;
}
.m_menu_back {
	width: 100%;
	height: 100%;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 0;
	z-index: 4;
	transition: 0.5s;
	transform: translateX(-100%);
}
.m_menu_back_active {
	transform: translateX(0%);
}

.m_menu_icon1,
.m_menu_icon2,
.m_menu_icon3 {
	height: 4px;
	width: 20px;
	background-color: #ffffff;
	transition: 0.6s;
}
.m_menu_icon1 {
	position: absolute;
	top: 6px;
}
.m_menu_icon2 {
	position: absolute;
	top: 13px;
}

.m_menu_icon3 {
	position: absolute;
	bottom: 6px;
}
.menu_btn_active .m_menu_icon2 {
	display: none;
}
.menu_btn_active .m_menu_icon1 {
	transform: rotate(-45deg);
	top: 13px;
}
.menu_btn_active .m_menu_icon3 {
	transform: rotate(45deg);
	bottom: 13px;
}
.m_drop_lint {
	position: relative;
	width: fit-content;
	width: -moz-fit-content;
}
.m_drop_btn {
	color: #dd6b1f;
	font-size: 30px;
	position: absolute;
	right: -27px;
	top: -5px;
	line-height: 0;
}
.mobile_nav_drop_link_active .m_drop_btn {
	transform: rotate(180deg);
}
.m_drop_btn:hover {
	color: #dd6b1f;
}
/* =================== HEADER ======================= */

header {
	background-color: transparent;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
}
.hdr_logo {
	margin-right: 30px;
	height: 80px;
}
.hdr_city {
	text-decoration: underline;
}
.hdr_nav {
	font-family: BebasNeue;
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	height: 126px;
	letter-spacing: 0.5px;
}
.hdr_nav li {
	height: 100%;
	display: flex;
	align-items: center;
}
.hdr_nav .active {
	text-decoration: underline;
}
.hdr_nav_drop_link {
	position: relative;
}
.hdr_nav_drop {
	position: absolute;
	left: 0;
	top: 126px;
	width: max-content;
	background-color: #faf9f9;
	display: none;
}
.hdr_nav_drop_link:hover .hdr_nav_drop {
	display: flex;
}
.hdr_nav_index {
	height: 149px;
}
.hdr_nav_index .hdr_nav_drop {
	top: 105px;
}
.hdr_logo_index {
	height: 103px;
}
/* =================== MENU FIXED ======================= */
.menu_fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 7;
	background-color: #ffffff;
	box-shadow: 0 0 24px 0px #00000063;
	transform: translateY(-120%);
	transition: 0.3s;
}
.menu_fixed_show {
	transform: translateY(0%);
}
.menu_fixed .hdr_nav {
	height: 83px;
	flex-wrap: nowrap;
}
.menu_fixed .hdr_nav_drop {
	top: 83px;
}
.menu_fixed .hdr_city {
	margin-left: 30px;
}
/* =================== BLOCK 1 ======================= */
.head_block {
	position: relative;
}
.slider_b1 {
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 200px;
	padding-bottom: 145px;
}
.b1_title {
	font-size: 147px;
	margin-bottom: 35px;
	margin-top: 0;
	text-shadow: 0 10px 0px #00000038;
	letter-spacing: 7px;
	line-height: 129px;
}
.b1_text {
	margin-bottom: 35px;
	font-size: 16px;
	padding-right: 49px;
}
.b1_btn_reserve {
	padding: 12px 38px;
}
.b1_btn_price {
	padding: 12px 55px;
}
.slick-dots li button:before {
	content: "";
	width: 14px;
	height: 14px;
	background: url(../img/sldr_point.png) no-repeat;
	opacity: 1;
}
.slick-dots li.slick-active button:before {
	background: url(../img/sldr_point_active.png) no-repeat;
	opacity: 1;
}
.slick-dotted.slick-slider {
	margin-bottom: 0;
}
.main_slider .slick-dots {
	bottom: 15px;
}
.slick-dots li {
	width: 14px;
	height: 14px;
	margin: 0 4px;
}
.b1_social {
	position: fixed;
	top: calc(50vh - 75px);
	right: 30px;
	font-size: 25px;
	height: 150px;
	z-index: 5;
}
.b1_social a {
	text-shadow: 0 1px 0 #ffffff, 0 -1px 0 #ffffff, -1px 0 0 #ffffff,
		1px 0 0 #ffffff;
}
.b1_scroll {
	transform: rotate(-90deg);
	font-size: 14px;
	position: absolute;
	top: 50vh;
	left: -50px;
}
.b1_scroll span {
	margin-right: 5px;
}

/* =================== BLOCK 2 ======================= */

.block_2 {
	background-color: #ffffff;
	overflow-x: hidden;
	position: relative;
	padding-top: 10px;
	padding-bottom: 90px;
}
@-webkit-keyframes first_scroll {
	0% {
		-webkit-transform: translate(-15%, 0);
		transform: translate(0, 0);
	}
	100% {
		-webkit-transform: translate(-100%, 0);
		transform: translate(-100%, 0);
	}
}

@-moz-keyframes first_scroll {
	0% {
		-moz-transform: translate(-15%, 0);
		transform: translate(0, 0);
	}
	100% {
		-moz-transform: translate(-100%, 0);
		transform: translate(-100%, 0);
	}
}
@-webkit-keyframes scroll {
	0% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	100% {
		-webkit-transform: translate(-100%, 0);
		transform: translate(-100%, 0);
	}
}

@-moz-keyframes scroll {
	0% {
		-moz-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	100% {
		-moz-transform: translate(-100%, 0);
		transform: translate(-100%, 0);
	}
}

@keyframes first_scroll {
	0% {
		transform: translate(-15%, 0);
	}
	100% {
		transform: translate(-100%, 0);
	}
}

@keyframes scroll {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(-100%, 0);
	}
}
.b2_overtext {
	font-family: BebasNeue;
	font-weight: 600;
	font-size: 226px;
	height: 339px;
	color: #ffffff;
	text-shadow: 1px 0 #000000, -1px 0 #000000, 0 -1px #000000, 0 1px #000000;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
}
.ticker_1 {
	padding-left: 100%;
	display: inline-block;
	position: absolute;
	-webkit-animation: first_scroll 16s linear;
	-moz-animation: first_scroll 16s linear;
	animation: first_scroll 16s linear;
}
.ticker_2 {
	position: absolute;
	padding-left: 100%;
	display: inline-block;
	-webkit-animation: scroll 20s infinite linear;
	-moz-animation: scroll 20s infinite linear;
	animation: scroll 20s infinite linear;
	animation-delay: 16s;
}
.b2_title {
	font-size: 95px;
	line-height: 88px;
}
.b2_subtitle {
	font-size: 22px;
	position: relative;
	width: fit-content;
	width: -moz-fit-content;
	display: inline-block;
}
.b2_subtitle::before {
	content: "";
	display: block;
	height: 2px;
	width: 300%;
	background-color: #ececec;
	position: absolute;
	right: 125%;
	top: 50%;
}
.b2_subtitle_cont {
	overflow-x: hidden;
	width: 100%;
}
.b2_frame {
	margin-top: 15px;
	margin-bottom: 15px;
}
.b2_frame h3 {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 25px;
}
.b2_frame p {
	font-size: 16px;
}
.b2_img_cont {
	height: 145px;
	display: flex;
	align-items: center;
}
.b2_frame_img {
	max-width: 83px;
}

/* =================== BLOCK 3 ======================= */

.block_3 {
	background-color: #ffffff;
	padding-top: 70px;
	padding-bottom: 90px;
}
.b3_sticky {
	position: sticky;
	top: 90px;
	left: 0;
}
.btn_b3_sticky {
	background-color: #54c5cf;
}
.b3_sticky p {
	font-size: 22px;
	margin-bottom: 20px;
}
.b3_sticky h2 {
	font-size: 95px;
	line-height: 88px;
	margin-bottom: 40px;
}
.btn_b3_sticky {
	color: #ffffff;
	padding: 12px 33px;
}
.b3_frame {
	margin-bottom: 45px;
	margin-right: auto;
	margin-left: auto;
	width: fit-content;
	width: -moz-fit-content;
}
.b3_frame h3 {
	font-weight: 500;
	font-size: 28px;
	margin-top: 30px;
	margin-bottom: 0;
}
.b3_frame p {
	font-size: 14px;
	margin-bottom: 0;
}
.b3_img_cont {
	position: relative;
	overflow-y: hidden;
	width: fit-content;
	width: -moz-fit-content;

	margin-left: auto;
	margin-right: auto;
}
.b3_frame_fog {
	width: 100%;
	height: 35%;
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2d2d2dbf;
	transform: translateY(100%);
	transition: 0.5s;
}
.b3_frame_btn {
	position: relative;
	background-color: transparent;
	border: 1px solid #ffffff;
	padding: 12px 42px;
}
.b3_frame_btn a {
	color: #ffffff;
}
.b3_frame:hover .b3_frame_fog {
	transform: translateY(0%);
}
.b3_frame_btn:hover {
	background-color: #00000094;
}

/* =================== BLOCK 4 ======================= */
.block_4 {
	position: relative;
}
.b4_bg {
	/* background-image: url(../img/b4_bg.jpg); */
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 615px;
}
.b4_img_play {
	position: absolute;
	top: calc(50% - 49px);
	left: calc(50% - 49px);
}

.block_4:hover .b4_bg {
	-webkit-filter: blur(3px);
	filter: blur(3px);
	transition: 0.2s ease-in-out;
}
.block_4:hover .stretched-link::after {
	background-color: rgba(0, 0, 0, 0.24);
	transition: 0.2s ease-in-out;
}
/* =================== BLOCK 5 ======================= */
.block_5 {
	padding-top: 100px;
	padding-bottom: 120px;
}
.b5_title {
	font-size: 95px;
	line-height: 88px;
}
.b5_text {
	font-size: 17px;
	margin-bottom: 75px;
}
.b5_frame {
	border: 1px solid #f0f0f0;
	position: relative;
	padding: 40px;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.b5_frame:hover {
	border-color: #ffffff;
	box-shadow: 0 0 12px 0px #00000014;
}
.b5_frame h3 {
	font-family: BebasNeue;
	font-weight: 700;
	font-size: 33px;
	margin-bottom: 40px;
	position: relative;
}
.b5_frame h3::after {
	content: "";
	display: block;
	background-color: #ececec;
	height: 2px;
	width: 93px;
	position: absolute;
	bottom: -17px;
	left: 0;
}
.b5_frame p {
	font-size: 14px;
	margin-bottom: 15px;
}
.b5_img_cont {
	max-width: 93px;
	margin-top: auto;
}
.b5_arrow {
	width: 102px;
	height: 102px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #3d3d3e;
	position: absolute;
	bottom: 0;
	right: 0;
}
/* =================== BLOCK 6 ======================= */
.block_6 .container {
	background-image: url(../img/b6_bg.jpg);
	background-position-x: center;
	background-position-y: -110px;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 80px;
	padding-bottom: 40px;
	padding-left: 40px;
	padding-right: 40px;
}
.b6_title {
	color: #ffffff;
	font-size: 95px;
}
.b6_subtitle {
	font-family: BebasNeue;
	font-weight: 400;
	font-size: 36px;
	color: #ffffff;
	text-decoration: underline;
	text-transform: uppercase;
}
.b6_frame_block {
	padding: 32px;
	height: 100%;
}
.b6_frame {
	background-color: #ffffff;
	padding: 45px 35px;
	height: 100%;
	box-shadow: 0 0 12px 0px #00000014;
}
.b6_frame h4 {
	font-family: BebasNeue;
	font-size: 32px;
	line-height: 27px;
	font-weight: 600;
	margin-bottom: 35px;
}
.b6_price_cont {
	padding-left: 10px;
	padding-right: 0;
}
.b6_price {
	display: flex;
	margin-bottom: 16px;
	width: fit-content;
	width: -moz-fit-content;
}
.b6_rub {
	/* font-family: MyriadPro; */
	font-size: 27px;
}
.b6_num {
	font-family: BebasNeue;
	font-weight: 700;
	font-size: 97px;
	line-height: 85px;
}
.b6_min {
	font-size: 25px;
	color: #a2a2a2;
	line-height: 48px;
	align-self: flex-end;
}
.b6_frame p {
	font-size: 15px;
}
.b6_btn_cont {
	margin-top: auto;
}
.b6_frame_btn {
	padding: 12px 43px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* =================== BLOCK 7 ======================= */

.block_7 {
	background-color: #ffffff;
	padding-top: 110px;
	padding-bottom: 85px;
}
.b7_title {
	font-size: 95px;
	line-height: 88px;
}
.b7_subtitle {
	font-size: 22px;
	margin-bottom: 40px;
}
.b7_btn {
	padding: 12px 36px;
}
.b7_img_cont {
	text-align: center;
}
.b7_news h3 {
	font-weight: 700;
	font-size: 22px;
}
.b7_news p {
	font-size: 14px;
	line-height: 19px;
	margin-bottom: 5px;
}
.b7_news a {
	text-decoration: underline;
	font-size: 18px;
	font-weight: 600;
}
.b7_day,
.b7_month {
	font-family: BebasNeue;
	font-weight: 700;
}
.b7_month {
	text-decoration: underline;
	font-size: 21px;
}
.b7_day {
	font-size: 37px;
	line-height: 1;
}
/* =================== CONTACTS ======================= */
.cnts_b1_map {
	background-color: #ffffff;
	padding-bottom: 40px;
}
.cnts_block2 {
	background-color: #ffffff;
	padding-top: 40px;
	padding-bottom: 90px;
}
.cnts_fr_title {
	font-family: BebasNeue;
	font-weight: 700;
	font-size: 45px;
	margin-bottom: 30px;
}
.cnts_fr_address {
	font-size: 18px;
}
.cnts_b2_btn_recerve {
	padding: 12px 46px;
	max-width: 266px;
	width: 100%;
	margin-bottom: 14px;
}
.cnts_b2_btn_space {
	padding: 12px 40px;
	max-width: 266px;
	width: 100%;
	margin-bottom: 14px;
}
/* =================== PRICE ======================= */
.prc_block_1 {
	/* position: relative; */
	background-image: url(../img/b6_bg.jpg);
	background-position-x: center;
	background-position-y: calc(100% - 80px);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 40px;
}
.prc_scroll {
	color: #ffffff;
}
.prc_b1_social a {
	color: #ffffff;
	text-shadow: 0 1px 0 #000, 0 -1px 0 #000, -1px 0 0 #000, 1px 0 0 #000;
}
.prc_block_2 {
	padding-top: 80px;
	padding-bottom: 70px;
}
.prc_b2_frame {
	border-bottom: 1px solid #f5f5f5;
	margin-top: 50px;
	padding-bottom: 50px;
}
.prc_b2_img_cont {
	box-shadow: 0 0 16px 0px #00000063;
	margin-bottom: 40px;
}

.prc_b2_frame h3 {
	font-family: BebasNeue;
	font-weight: 700;
	font-size: 29px;
	margin-bottom: 25px;
	text-transform: uppercase;
}
.prc_b2_frame p {
	font-size: 14px;
}
.prc_b2_accent_text {
	font-weight: 700;
	font-size: inherit;
}
.prc_b2_frame > a {
	font-size: 14px;
	font-weight: 600;
	text-decoration: underline;
}
.prc_b2_fr_btn {
	padding: 12px 52px;
	max-width: 226px;
	max-height: 48px;
	width: 100%;
	height: 100%;
}
.prc_b2_fr_nav {
	margin-top: 55px;
	margin-bottom: 70px;
}
.prc_b2_fr_nav h2 {
	font-size: 46px;
	letter-spacing: 2px;
	position: relative;
	margin-bottom: 30px;
}
.prc_b2_fr_nav h2::after {
	content: "";
	display: block;
	width: 30%;
	height: 1px;
	background-color: #cacaca;
	position: absolute;
	bottom: -18px;
}
.prc_nav a {
	font-weight: 500;
	font-size: 18px;
	color: #747474;
	padding-left: 0;
	padding-top: 4px;
	padding-bottom: 4px;
}
.prc_nav a:hover {
	color: #dd6b1f;
}
.block_news_small {
	position: sticky;
	top: 105px;
	left: 0;
}
.block_news_small h2 {
	font-size: 31px;
	letter-spacing: 2px;
	margin-bottom: 20px;
}
.block_news_small h3 {
	font-weight: 500;
	font-size: 17px;
}
.block_news_small a {
	font-weight: 600;
	font-size: 14px;
	text-decoration: underline;
}
.block_news_small .row {
	position: relative;
}
.sn_date {
	font-family: BebasNeue;
	font-weight: 700;
}
.sn_day {
	font-size: 37px;
	line-height: 1;
}
.sn_month {
	font-size: 21px;
	text-decoration: underline;
	text-transform: uppercase;
	line-height: 1;
}
/* =================== ENTERTAINMENT ======================= */
/* .ent_block_1 {
	position: relative;
} */
.ent_line {
	height: 1px;
	width: 100%;
	background-color: #f5f5f5;
}
/* =================== ACTION ======================= */
.act_block_1 {
	background-image: url(../img/act_b1_bg.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 110px;
	padding-bottom: 125px;
	color: #ffffff;
	text-align: center;
}
.act_block_1 .breadcrumb a,
.act_block_1 .breadcrumb li {
	color: #ffffff;
}
.act_block_1 h1 {
	font-size: 95px;
	margin-top: 25px;
	margin-bottom: 35px;
	line-height: 1;
}
.act_block_1 p {
	font-size: 14px;
	margin-bottom: 25px;
	max-width: 650px;
	line-height: 18px;
}
.btn_act_b1 {
	padding: 12px 59px;
}
.act_block_2 {
	background-color: #ffffff;
	padding-top: 100px;
	padding-bottom: 50px;
}
.act_block_2 h2,
.act_block_3 h2 {
	font-size: 55px;
}
.act_title_text {
	font-size: 14px;
	max-width: 610px;
	margin-bottom: 40px;
}
.act_b2_bg {
	background-image: url(../img/act_b2_bg.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
	padding-top: 50px;
	padding-bottom: 60px;
}
.act_b3_bg {
	background-image: url(../img/act_b3_bg.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
	padding-top: 35px;
	padding-bottom: 65px;
}
.act_b2_frame,
.act_b3_frame {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}
.act_b2_img_cont {
	max-width: 87px;
	flex: 0 0 115px;
}
.act_b2_frame span {
	font-family: BebasNeue;
	font-weight: 700;
	font-size: 24px;
}
.act_b2_frame h3 {
	font-family: BebasNeue;
	font-weight: 700;
	font-size: 39px;
	margin-bottom: 0;
}
.act_b2_frame p {
	font-size: 14px;
	margin-bottom: 0;
	max-width: 97%;
}
.btn_act {
	padding: 12px 56px;
	margin-top: 55px;
}
.act_block_3 {
	padding-bottom: 95px;
	background-color: #ffffff;
}
.act_b3_eq {
	width: 46px;
	height: 19px;
	margin-bottom: 35px;
}
.act_b3_bl {
	height: 6px;
	width: 100%;
	background-color: #54c5cf;
}
.act_b3_img_cont {
	max-width: 87px;
	flex: 0 0 115px;
}
.act_b3_bg {
	font-family: BebasNeue;
	font-weight: 700;
	padding-left: 41px;
	padding-right: 41px;
}
.act_b3_acttext {
	font-size: 45px;
}
.act_b3_frame p {
	font-size: 25px;
	text-align: left;
	max-width: 340px;
}
/* =================== GRADUATION ======================= */
.grad_block_2 {
	padding-top: 115px;
	padding-bottom: 40px;
}
.grad_block_3 {
	padding-bottom: 115px;
	padding-top: 40px;
}
.grad_frame h2 {
	font-size: 48px;
	margin-bottom: 30px;
	margin-top: 15px;
}
.grad_frame ol {
	font-size: 16px;
	line-height: 21px;
	list-style-type: none;
	counter-reset: num;
	padding-left: 0;
	margin-bottom: 30px;
}
.grad_frame li::before {
	content: counter(num) ") ";
	counter-increment: num;
}
.btn_grad {
	padding: 12px 59px;
}
/* =================== CHILDRENBD ======================= */
.chldr_block_2 {
	background-image: url(../img/chldr_b2_bg.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 140px;
	padding-bottom: 40px;
}
.chldr_b2_frame h2 {
	font-size: 69px;
	margin-bottom: 15px;
}
.chldr_b2_frame p {
	font-size: 16px;
	margin-bottom: 45px;
}
.orange_text {
	color: #ea6533;
}
.btn_chldr_b2 {
	padding: 12px 32px;
}
.prc_nav .active {
	color: #dd6b1f;
}
.chldr_b3_frame {
	text-align: center;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid #f0f0f0;
	padding: 45px 25px 35px;
}
.chldr_b3_frame h3 {
	font-family: BebasNeue;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 36px;
	margin-bottom: 0;
	margin-top: 35px;
}
.chldr_b3_frame:hover {
	box-shadow: 0 0 12px 0px #00000014;
}
.chldr_b3_frame:hover h3 {
	font-weight: 700;
}
.chldr_block_4 {
	background-image: url(../img/chldr_b4_bg.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
	padding-top: 90px;
	padding-bottom: 150px;
}
.chldr_block_4 h2 {
	font-size: 95px;
	margin-bottom: 30px;
}
.chldr_block_4 h2::after {
	content: "";
	display: block;
	height: 2px;
	width: 165px;
	background-color: #ffffff;
	margin: 18px auto 0;
}
.chldr_block_4 p {
	font-size: 14px;
	margin: 0 auto 30px;
	max-width: 576px;
}
.btn_chldr_b4 {
	padding: 12px 31px;
}
.chldr_block_5 {
	background-color: #ffffff;
	padding-top: 75px;
	padding-bottom: 45px;
}
.chldr_block_5 h3 {
	font-family: BebasNeue;
	font-weight: 700;
	font-size: 36px;
}
.chldr_block_5 p {
	font-size: 14px;
	line-height: 1.4;
}
.chldr_block_5 ul {
	font-weight: 700;
	font-size: 18px;
	padding-left: 0;
	list-style: none;
}
.chldr_block_5 h4 {
	font-size: 19px;
	margin-bottom: 0;
}
.chldr_b5_tmd {
	font-size: 16px;
	font-weight: 600;
}
.chldr_b5_tlg {
	font-size: 18px;
	font-weight: 700;
}
.btn_chldr_b5 {
	padding: 12px 41px;
}
.chldr_b6_frame {
	box-shadow: 0 0 12px 0px #00000014;
	padding: 45px 40px 50px;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}
.chldr_b6_frame h3 {
	font-family: BebasNeue;
	font-weight: 700;
	font-size: 36px;
}
.chldr_b6_frame a {
	font-weight: 700;
	text-decoration: underline;
	margin-bottom: 30px;
	margin-top: 5px;
}
.chl_b6_sum {
	font-family: BebasNeue;
	font-size: 110px;
	font-weight: 700;
	line-height: 70px;
	margin-bottom: 20px;
}
.chl_b6_sum::before {
	content: "\20bd";
	font-family: Montserrat;
	font-size: 31px;
	font-weight: 400;
	vertical-align: text-top;
}
.chl_b6_list {
	font-size: 17px;
	margin-bottom: 5px;
}
.chl_b6_fr_text {
	font-size: 14px;
	margin-bottom: 0;
}
.btn_chldr_b6 {
	padding: 16px 55px;
	width: 100%;
}
.other_tariffs {
	font-family: BebasNeue;
	font-weight: 700;
	font-size: 25px;
	text-decoration: underline;
	text-transform: uppercase;
	color: #ea6533;
}
.tariff_arrow_l,
.tariff_arrow_r {
	transition: 0.5s;
}
.tariff_arrow_act_l {
	transform: rotate(180deg);
	transition: 0.5s;
}
.tariff_arrow_act_r {
	transform: rotate(-180deg);
	transition: 0.5s;
}
.chldr_block_7 {
	background-color: #ffffff;
	padding-top: 50px;
	padding-bottom: 110px;
}
.chldr_block_7 h2 {
	font-size: 39px;
	margin-bottom: 50px;
	letter-spacing: 1.5px;
}
.chldr_block_7 ul {
	list-style-type: none;
	padding-left: 0;
	font-size: 19px;
	line-height: 24px;
	text-align: left;
	margin-bottom: 0;
	letter-spacing: 1px;
}
.chl_b7_item {
	background-color: #ffffff;
	position: relative;
	z-index: 1;
	padding-right: 5px;
}
.chl_b7_price {
	font-weight: 600;
	background-color: #ffffff;
	position: relative;
	z-index: 1;
	padding-left: 5px;
}
.chldr_block_7 li {
	position: relative;
	display: flex;
	justify-content: space-between;
}
.chldr_block_7 li::after {
	content: "";
	display: inline-block;
	background-color: #a9a9a9;
	height: 1px;
	width: 100%;
	position: absolute;
	bottom: 8px;
	left: 0;
}
.chldr_block_7 .btn {
	padding: 16px 103px;
}
/* =================== NEW YEAR ======================= */
.ny_block_2 {
	padding-bottom: 55px;
	padding-top: 100px;
	background-color: #ffffff;
}
.ny_block_3 {
	padding-bottom: 90px;
}
.ny_block_2 h2,
.ny_block_3 h2 {
	font-size: 48px;
	margin-bottom: 50px;
	margin-top: 50px;
}
.ny_block_2 .btn,
.ny_block_3 .btn {
	padding: 12px 59px;
}
.ny_b2_text_1 {
	font-size: 16px;
	font-weight: 600;
}
.ny_b2_text_2 {
	font-size: 16px;
	margin-bottom: 25px;
}
.ny_b2_text_2 .orange_text {
	font-weight: 700;
}
.ny_b3_text_1 {
	font-size: 18px;
	font-weight: 600;
}
/* =================== ABOUT ======================= */
.ab_title {
	font-size: 95px;
}
.about_block_2 {
	padding-top: 90px;
	padding-bottom: 110px;
}
.ab_b1_sldr_nav {
	margin-top: 15px;
}
.ab_b1_sldr_nav .slick-track,
.ab_b2_slider .slick-track,
.ab_b1_slider .slick-track {
	display: flex;
	align-items: center;
}
.ab_b1_sldr_nav .slick-slide,
.ab_b2_slider .slick-slide {
	margin: 0 5px;
}
.ab_b1_slider .slick-next::before,
.ab_b1_slider .slick-prev::before,
.ab_b2_slider .slick-next::before,
.ab_b2_slider .slick-prev::before {
	content: "";
}
.ab_b1_slider .slick-next {
	right: 51px;
}
.ab_b1_slider .slick-prev {
	left: 28px;
	z-index: 1;
}
.block_4:hover .ab_b2_img {
	-webkit-filter: blur(3px);
	filter: blur(3px);
	transition: 0.2s ease-in-out;
}
.vid_arr_nx {
	position: absolute;
	top: 0;
	right: -50px;
}
.vid_arr_pr {
	position: absolute;
	top: 0;
	left: -50px;
}
.about_block_3 h2 {
	font-size: 36px;
}
.about_block_3 p {
	color: #a3a3a3;
	font-size: 14px;
}
.ab_b3_frame {
	padding: 40px 33px;
	box-shadow: 0 0 12px 0px #00000014;
	margin-bottom: 10px;
}
.ab_faq_coll_head {
	position: relative;
}
.ab_faq_coll_title {
	display: flex;
	justify-content: space-between;
}
.ab_faq_coll_title h3 {
	color: #7b7b7b;
	font-weight: 600;
	font-size: 16px;
}
.ab_b3_text {
	color: #a3a3a3;
	font-size: 14px;
	margin-top: 15px;
}
.ab_b3_frame_active h3 {
	color: #54c5cf;
}
.faq_coll_img {
	display: none;
}
.faq_coll_img_shown {
	display: block;
}
.ab_b3_frame_active .faq_coll_img {
	display: block;
}
.ab_b3_frame_active .faq_coll_img_shown {
	display: none;
}
/* =================== ANNIVERSARY ======================= */
.ann_block_2 {
	padding-top: 85px;
	padding-bottom: 35px;
}
.ann_block_2 img,
.ann_block_3 img {
	margin-bottom: 40px;
}
.ann_block_3 {
	padding-top: 30px;
	padding-bottom: 30px;
}
.ann_block_4 {
	padding-bottom: 35px;
}
.ann_block_3 h3,
.ann_block_4 h3 {
	font-family: BebasNeue;
	font-weight: 700;
	font-size: 48px;
	margin-bottom: 30px;
}
.ann_block_4 h3 {
	font-size: 44px;
}
.ann_block_2 h2 {
	font-size: 85px;
	text-align: center;
	margin-bottom: 60px;
	line-height: 1;
}
.ann_block_2 p,
.ann_block_3 p {
	font-size: 16px;
}
.ann_block_3 p {
	margin-bottom: 30px;
}
/* =================== TEENAGE ======================= */
.ann_block_3 .block_4 {
	margin-bottom: 30px;
}
/* =================== CALC ======================= */
.calc {
	padding-top: 100px;
	padding-bottom: 200px;
	text-align: center;
}
.zangdar__wizard .zangdar__step {
	display: none;
}
.zangdar__wizard .zangdar__step.zangdar__step__active {
	display: block;
}
.form-completed {
	display: none;
}
.step {
	list-style: none;
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 88px;
	padding-left: 0;
	left: calc(50% - 277px);
	margin-bottom: 0;
}
.step-item {
	position: relative;
}
#calc_form {
	position: relative;
}
.step li::before {
	content: "";
	display: block;
	height: 2px;
	width: 83px;
	background-color: #54c5cf;
	position: absolute;
	right: 100%;
	top: calc(50% - 1px);
}
.step li:first-child::before {
	display: none;
}
.step-item {
	/* content: "";
	display: block; */

	width: 12px;
	height: 12px;
	border-radius: 50px;
	background-color: #54c5cf;
	margin: 0 40px;
	/* position: absolute; */
}
.step-item.active {
	/* content: "";
	display: block; */

	width: 15px;
	height: 15px;
	background-color: #ffffff;
	border: 3px solid #54c5cf;
	/* position: absolute; */
}
#calc_form h2 {
	font-size: 57px;
}
#calc_form input {
	background-color: #fbfbfb;
	border: 1px solid #eaeaea;
}
.calc_sub_title {
	font-size: 14px;
	margin-bottom: 65px;
}
input::-webkit-inner-spin-button {
	display: none;
}
#input_age {
	max-width: 200px;
}
#inp_num_child,
#inp_num_adult {
	max-width: 230px;
}
.calc_inp_cont {
	max-width: 200px;
	text-align: left;
}
.calc_inp_cont label,
.step4_inp_cont label,
.step6_inp_cont label {
	font-size: 14px;
	color: #909090;
	margin-bottom: 5px;
}
.step4_inp_cont {
	max-width: 230px;
	text-align: left;
}
.step6_inp_cont small .step4_inp_cont small {
	font-size: 10px;
}
.step5_frame {
	box-shadow: 0 0 12px 0px #00000014;
	padding: 40px 15px;
	/* width: fit-content !important; */
	text-align: left;
	margin: 0 15px;
}
.step5_frame > p {
	font-size: 13px;
}
.step5_sum,
.step5_time,
.step5_slider h3 {
	font-family: BebasNeue;
	font-size: 66px;
	font-weight: 700;
}
.step5_slider .slick-track {
	/* width: 100% !important; */
	padding: 10px 0;
}
.step5_slider .slick-next,
.step5_slider .slick-prev {
	color: #b5b5b5;
	font-size: 25px;
}
#calc_form input[type="radio"] {
	visibility: hidden;
	position: relative;
}
#calc_form input[type="radio"]::before {
	content: "";
	display: inline-block;
	width: 22px;
	height: 22px;
	border: 1px solid #c0c0c0;
	border-radius: 50px;
	background-color: #f7f7f7;
	visibility: visible;
	position: absolute;
	left: calc(50% - 11px);
	top: calc(50% - 11px);
	cursor: pointer;
}
#calc_form input[type="radio"]:checked::after {
	content: "";
	display: inline-block;
	width: 12px;
	height: 12px;
	background-color: #54c5cf;
	border-radius: 50px;
	visibility: visible;
	position: absolute;
	left: calc(50% - 6px);
	top: calc(50% - 6px);
	cursor: pointer;
}
.calc_btns {
	margin-top: 130px;
}
.btn_calc_back {
	padding: 12px 54px;
}
.btn_calc_next {
	padding: 12px 61px;
}
.step5_slider h3 {
	font-size: 33px;
	margin-bottom: 0;
}

.calc_s6_sum::before,
.step5_sum::before {
	content: "\20bd";
	font-family: Montserrat;
	font-size: 29px;
	font-weight: 600;
	vertical-align: text-top;
	text-decoration: none;
}
.step5_time {
	font-size: 51px;
}
.step5_time span {
	font-size: 26px;
}
.step5_time::before {
	content: "\f017";
	font-family: fontawesome;
	font-size: 16px;
	vertical-align: text-top;
}
.calc_s6_sum {
	font-family: BebasNeue;
	font-size: 60px;
	font-weight: 700;
	text-decoration: underline;
}
.step6_inp_cont {
	max-width: 240px;
	text-align: left;
}
/* =================== RENT ======================= */
.rent_block_1 {
	padding-top: 165px;
	padding-bottom: 180px;
	background-image: url(../img/rent_b1_bg.jpg);
}
.rent_block_2 {
	background-color: #ffffff;
	padding-top: 120px;
	padding-bottom: 35px;
}
.rent_block_2 h2 {
	font-size: 48px;
	margin-bottom: 40px;
}
.rent_block_2 p {
	font-size: 16px;
	margin-bottom: 20px;
	line-height: 20px;
}
.rent_b2_sbold {
	font-weight: 600;
}
.btn_rent_b2 {
	padding: 12px 37px;
}
.rent_block_3 {
	background-color: #ffffff;
	padding-bottom: 90px;
}
.rent_block_3 .ab_b1_sldr_nav {
	margin-bottom: 45px;
}
.rent_block_3 h2 {
	font-size: 95px;
}
.rent_block_3 h3 {
	font-size: 48px;
	font-family: BebasNeue;
	font-weight: 700;
}
.rent_block_3 p {
	font-size: 14px;
	margin-bottom: 20px;
}
/* =================== ITEMNEWS ======================= */
.itemnews_block_2 {
	background-color: #ffffff;
	padding-top: 120px;
	padding-bottom: 90px;
}
.itemnews_block_2 h2 {
	font-size: 48px;
	margin-bottom: 50px;
}
.itemnews_block_2 p {
	font-size: 16px;
	margin-bottom: 20px;
}
.in_b2_img_cont {
	margin: 90px 0;
}
.btn_itemnews {
	margin-top: 120px;
	padding: 12px 30px;
}
/* =================== FOOTER ======================= */
footer {
	padding-top: 80px;
	background-color: #2c2c2c;
	color: #ffffff;
}
footer a:hover {
	color: #54c5cf;
}
.ftr_btn {
	color: #ffffff;
	padding: 10px 23px;
	border: 1px solid #ffffff;
	font-weight: 400;
}
.ftr_btn:hover {
	color: #ffffff;
	background-color: #00000094;
}
.ftr_social a {
	color: #ffffff;
	font-size: 33px;
}
.ftr_form_title {
	font-weight: 600;
	font-size: 19px;
	margin-bottom: 20px;
}
.ftr_inp {
	margin-right: 20px;
	height: 45px;
	max-width: 225px;
	font-size: 14px;
	color: #8f8f8f;
}
.ftr_inp:focus {
	border-color: #54c5cf;
	box-shadow: 0 0 0 0.2rem rgba(84, 197, 207, 0.35);
}
footer form {
	margin-bottom: 40px;
}
.ftr_soc_title {
	color: #d5d5d5;
	font-size: 15px;
}
.ftr_social {
	max-width: 160px;
	margin-bottom: 30px;
}
.ftr_copyright {
	font-size: 14px;
}
.ftr_nav {
	font-size: 13px;
	max-height: 241px;
}
.ftr_nav .active {
	text-decoration: underline;
}
.ftr_nav > li > a {
	font-weight: 600;
	text-transform: uppercase;
}
.ftr_nav a {
	color: #ffffff;
	padding-top: 10px;
	padding-bottom: 10px;
}
.ftr_sub_nav {
	max-width: 165px;
}
.ftr_sub_nav li {
	width: 100%;
}
.ftr_sub_nav a {
	color: #c2c2c2;
	font-weight: 300;
	padding-top: 6px;
	padding-bottom: 6px;
}
.ftr_ftr {
	font-size: 14px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.ftr_line {
	height: 2px;
	width: 100%;
	background-color: #313131;
	margin-top: 30px;
}
.ftr_ftr_link {
	color: #656565;
	text-decoration: underline;
}
.ftr_ftr_develop {
	color: #aeaeae;
}
.ftr_ftr_develop a {
	color: #aeaeae;
}
/* =================== MODAL ======================= */
.modal-content {
	border-radius: 0;
}
.modal-body {
	padding: 5px 35px 30px;
}
.modal-body h2 {
	font-size: 36px;
}
.modal-body .form-group {
	margin-bottom: 10px;
}
.modal-body .form_inp {
	height: 47px;
}
.modal-header {
	border-bottom: none;
	padding-bottom: 0;
}
.close:hover {
	color: #dd6b1f;
}
.close:focus {
	outline: none;
}
.modal-dialog {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}
.form_inp:focus {
	border-color: #54c5cf;
	box-shadow: 0 0 0 0.2rem rgba(84, 197, 207, 0.25);
}
.btn_m_modal {
	padding: 13px 41px;
}

/* =================== MEDIA ======================= */
@media screen and (max-width: 1250px) {
	.b1_scroll {
		left: -80px;
	}
}
@media screen and (max-width: 1200px) {
	.b3_sticky h2 {
		font-size: 82px;
		line-height: 75px;
	}
	.b6_frame_block {
		padding: 10px;
	}
	.ftr_nav {
		max-height: 291px;
	}
	.block_6 .container {
		background-position-y: -85px;
	}
	.prc_block_1 {
		background-position-y: calc(100% - 61px);
	}
	.chldr_block_2 {
		background-position-y: top;
		background-position-x: 34%;
	}
	.chldr_block_7 ul {
		font-size: 18px;
	}
	.menu_fixed .hdr_nav a {
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media screen and (max-width: 992px) {
	.b3_sticky h2 {
		font-size: 59px;
		line-height: 54px;
	}
	.b3_frame_btn {
		padding: 10px 16px;
	}
	.btn_b3_sticky {
		padding: 12px 18px;
	}
	.b3_frame {
		position: relative;
	}
	.ftr_nav {
		max-height: 424px;
	}
	.b1_social {
		position: absolute;
	}
	.prc_b2_fr_nav h2 {
		font-size: 30px;
		letter-spacing: 0;
	}
	.prc_nav a {
		font-size: 16px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.block_news_small h3 {
		margin-bottom: 0;
	}
	.block_news_small h2 {
		letter-spacing: 1px;
	}
	.act_b3_bg {
		padding-left: 0;
		padding-right: 0;
	}
	.slider_b1 {
		background-color: #ffffff;
		background-image: none !important;
	}
	.b1_text {
		padding-right: 0;
	}
	.chldr_block_2 {
		background-image: none;
		background-color: #ffffff;
		padding-top: 30px;
		padding-bottom: 40px;
	}
	.chldr_b3_img_cont img {
		max-height: 250px;
	}
	.chldr_block_4 h2 {
		font-size: 70px;
	}
	.ab_b2_slider .b4_img_play {
		top: calc(50% - 19px);
		left: calc(50% - 10px);
	}
	.ann_block_2 h2 {
		font-size: 69px;
	}
	header {
		padding: 23px 0;
	}
}
@media screen and (max-width: 768px) {
	.b1_title {
		font-size: 118px;
		line-height: 108px;
	}
	.b2_overtext {
		font-size: 132px;
		height: 198px;
	}
	.block_2 {
		padding-top: 10px;
	}
	.prc_b2_fr_nav {
		margin-top: 40px;
		margin-bottom: 0;
	}
	.block_news_small {
		margin-top: 40px;
	}
	.chldr_b2_frame h2 {
		font-size: 47px;
	}
	.block_3 {
		background-color: #ffffff;
		padding-top: 55px;
		padding-bottom: 35px;
	}
	.chldr_block_4 h2 {
		font-size: 50px;
	}
	.chldr_block_4 {
		padding-top: 60px;
		padding-bottom: 90px;
	}
	.ann_block_2 h2 {
		font-size: 45px;
	}
	.ann_block_3 h3,
	.ann_block_4 h3 {
		font-size: 35px;
	}
	.b4_bg {
		height: 430px;
	}
}
@media screen and (max-width: 576px) {
	.b1_title {
		font-size: 82px;
		line-height: 75px;
	}
	.b1_social {
		right: 6px;
		top: 255px;
		height: 132px;
	}
	.b1_scroll {
		left: -94px;
	}
	.b1_text {
		margin-bottom: 21px;
		font-size: 14px;
	}
	.slider_b1 {
		padding-top: 172px;
		padding-bottom: 20px;
	}
	.b2_img_cont {
		height: 120px;
	}
	.b2_title {
		font-size: 86px;
		line-height: 74px;
	}
	.block_2 {
		padding-top: 55px;
		padding-bottom: 30px;
	}
	.b2_overtext {
		font-size: 88px;
		height: 132px;
	}
	.main_slider .slick-dots {
		bottom: 4px;
	}
	.block_3 {
		padding-top: 55px;
		padding-bottom: 40px;
	}
	.b3_sticky h2 {
		margin-bottom: 25px;
	}
	.b5_title {
		font-size: 50px;
		line-height: 1;
		text-align: center;
	}
	.block_5 {
		padding-top: 65px;
		padding-bottom: 65px;
	}
	.b5_text {
		font-size: 15px;
		margin-bottom: 25px;
	}
	.block_6 .container {
		padding-top: 60px;
		padding-left: 25px;
		padding-right: 25px;
	}
	.b6_title {
		font-size: 63px;
	}
	.b6_frame {
		padding: 35px 25px;
	}
	.ftr_nav {
		max-height: 395px;
	}
	.ftr_nav > li {
		max-width: 130px;
	}
	.cnts_fr_address {
		font-size: 16px;
	}
	.cnts_block2 {
		padding-top: 30px;
		padding-bottom: 60px;
	}
	.index h2 {
		font-size: 50px !important;
		line-height: 1 !important;
		text-align: center;
	}
	.prc_b1_social {
		top: 0;
	}
	.prc_scroll {
		left: -95px;
		top: 258px;
	}
	.act_block_1 h1 {
		font-size: 62px;
	}
	.act_block_1 {
		padding-top: 65px;
		padding-bottom: 60px;
	}
	.act_block_2 h2,
	.act_block_3 h2 {
		font-size: 42px;
		line-height: 1;
	}
	.act_block_2 {
		padding-top: 60px;
	}
	.act_b3_acttext {
		font-size: 31px;
	}
	.btn_act {
		padding: 12px 24px;
		margin-top: 55px;
	}
	.act_block_3 {
		padding-bottom: 40px;
	}
	.prc_block_2 {
		padding-top: 20px;
		padding-bottom: 45px;
	}
	.news_scroll {
		top: 348px;
	}
	.grad_block_2 {
		padding-top: 65px;
		padding-bottom: 30px;
	}
	.grad_block_3 {
		padding-bottom: 75px;
		padding-top: 30px;
	}
	.grad_frame h2 {
		font-size: 35px;
	}
	.grad_frame ol {
		font-size: 15px;
		line-height: 20px;
	}
	.b3_sticky h2 {
		font-size: 52px;
		line-height: 45px;
	}
	.chldr_block_2 {
		padding-top: 10px;
	}
	.chldr_block_5 h4 {
		font-size: 17px;
	}
	.chldr_block_5 ul {
		font-size: 16px;
	}
	.chldr_b6_frame {
		padding: 40px 25px 30px;
	}
	.chldr_block_7 li::after {
		bottom: 0px;
	}
	.chldr_block_7 li {
		padding-bottom: 3px;
	}
	.chldr_block_7 ul {
		font-size: 14px;
	}
	.ny_b2_text_1 {
		font-size: 15px;
	}
	.ny_block_2 h2,
	.ny_block_3 h2 {
		font-size: 36px;
		margin-bottom: 30px;
		margin-top: 30px;
		text-align: center;
	}
	.ny_b2_text_2 {
		font-size: 14px;
	}
	.ny_block_2 {
		padding-top: 80px;
	}
	.ab_b2_slider .b4_img_play {
		max-width: 14px;
		top: calc(50% - 13px);
		left: calc(50% - 7px);
	}
	.ab_title {
		font-size: 65px;
	}
	.rent_block_3 h2 {
		font-size: 60px;
	}
	.rent_block_3 h3 {
		font-size: 37px;
	}
	.itemnews_block_2 {
		padding-top: 90px;
		padding-bottom: 70px;
	}
	.btn_itemnews {
		margin-top: 55px;
	}
	.in_b2_img_cont {
		margin: 55px 0;
	}
	.itemnews_block_2 h2 {
		font-size: 45px;
		margin-bottom: 40px;
		line-height: 1;
	}
	.ftr_nav a {
		padding-top: 12px;
		padding-bottom: 12px;
		padding-left: 4px;
		padding-right: 4px;
	}
	.ftr_sub_nav a {
		padding-top: 6px;
		padding-bottom: 6px;
	}
	.ftr_ftr {
		padding-bottom: 90px;
	}
	.ftr_ftr_develop {
		margin-top: 25px;
	}
	.ftr_soc_title {
		margin-top: 43px;
	}
	.ftr_copyright {
		margin-top: 55px;
	}
}
@media screen and (max-width: 479px) {
	.dnone_479 {
		display: none !important;
	}
	.dblock_479 {
		display: block !important;
	}
	.ftr_ftr_develop {
		margin-top: 35px;
	}
	.ftr_ftr .container {
		flex-direction: column;
	}
	.social_479 {
		justify-content: center;
		text-align: center;
	}
	.ftr_social {
		margin-left: auto;
		margin-right: auto;
	}
	.ftr_nav_cont {
		display: flex;
	}
}
